@charset "UTF-8";
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.navbar {
    background-color: #333;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.logo img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.menu li {
    display: inline;
}

.menu a {
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    transition: background-color 0.3s;
}

.menu a:hover {
    background-color: #555;
}

.profile a {
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #4CAF50;
    transition: background-color 0.3s;
}

.profile a:hover {
    background-color: #45a049;
}

.active {
    background-color: #555;
}
